body {
  background-color: #fff; }

#designHeader {
  background-color: #7a3866;
  height: 137px;
  width: 100%; }
  #designHeader a img {
    width: 120px;
    height: auto;
    float: left;
    padding: 15px; }
  #designHeader h1 {
    margin: 5% 15%;
    position: absolute; }
    #designHeader h1 a {
      color: #f8b715; }

section {
  margin-top: -10px; }

#developHeader {
  background-color: #b4dfdf;
  width: 100%;
  height: 137px; }
  #developHeader img {
    width: 120px;
    height: auto;
    float: left;
    padding: 15px; }
  #developHeader h1 {
    margin: 5% 15%;
    position: absolute; }
    #developHeader h1 a {
      color: #ef4c30; }

#projectList {
  width: 50%;
  clear: left;
  float: left;
  height: 800px;
  background-color: #fff;
  padding-top: 0; }
  #projectList ul {
    list-style-type: none;
    margin: 12%;
    padding-top: 5%;
    height: 400px; }
    #projectList ul li {
      text-align: center;
      padding-top: 20px; }
      #projectList ul li a {
        text-decoration: none; }
  #projectList div {
    padding: 15px; }
    #projectList div a:first-child {
      float: left; }
    #projectList div a:nth-child(2) {
      float: right; }
  #projectList .bottom {
    margin-top: 15%; }

#projectImg {
  width: 50%;
  float: right; }
  #projectImg img {
    width: 800px; }
  #projectImg a img {
    width: 800px; }

#designFooter {
  width: 100%;
  height: 150px;
  clear: both;
  background-color: #7a3866; }
  #designFooter a {
    color: #f8b715;
    float: left;
    padding-top: 3%;
    padding-left: 1%; }
  #designFooter div {
    float: right;
    width: 350px; }
    #designFooter div ul {
      list-style-type: none; }
      #designFooter div ul li {
        display: inline; }
        #designFooter div ul li a {
          padding-right: 10px; }

#developFooter {
  width: 100%;
  height: 135px;
  clear: both;
  background-color: #b4dfdf; }
  #developFooter a {
    color: #ef4c30;
    float: left;
    padding-top: 3%;
    padding-left: 1%; }
  #developFooter div {
    float: right;
    width: 350px; }
    #developFooter div ul {
      list-style-type: none; }
      #developFooter div ul li {
        display: inline; }
        #developFooter div ul li a {
          padding-right: 10px; }

.hiddenLarge {
  display: none; }

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 640px;
    margin: 0 auto; }

  header a {
    width: 100%; }
    header a img {
      padding: 0; }
  header h1 {
    padding: 0;
    width: 100%;
    text-align: center; }

  .hiddenLarge {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0; }

  #projectList {
    display: none; }

  #projectImg {
    width: 100%; }
    #projectImg a {
      width: 100%; }
      #projectImg a img {
        width: 100%; }

  footer {
    width: 640px;
    padding: 0;
    margin: 0; }
    footer a {
      margin-top: 5%;
      font-size: 25px; }
    footer div ul li a img {
      width: 30px;
      padding: 0; } }
@media only screen and (max-width: 960px) {
  .wrapper {
    width: 960px;
    margin: 0 auto; }

  header {
    padding: 0 20px; }
    header a {
      width: 100%; }
      header a img {
        padding: 0;
        width: 80px; }
    header h1 {
      margin: 5% auto 0;
      width: 100%;
      font-size: 45px; }

  .hiddenLarge {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0; }

  #projectList {
    display: none; }

  #projectImg {
    width: 100%; }
    #projectImg a img {
      width: 100%; }

  footer {
    width: 100%; }
    footer a {
      margin-top: 5%; } }

/*# sourceMappingURL=projects.css.map */
